@layer base {
  :root {
    --COLOR-DARK: hsl(var(--USER-HUE) 100% 20%);
    --COLOR-MEDIUM: hsl(var(--USER-HUE) 20% 50%);
    --COLOR-LIGHT: hsl(var(--USER-HUE) 10% 92%);
    --COLOR-LIGHTEST: hsl(var(--USER-HUE), 5%, 98.5%);

    /* ratio 4/3 */
    --scale-s: 0.75;
    --scale-m: 1;
    --scale-l: 1.3333333333;
    --scale-xl: 1.7777777778;
    --scale-xxl: 2.3703703704;
    --scale-xxxl: 3.1604938272;

    --size-s: calc(1rem * var(--scale-s));
    --size-m: calc(1rem * var(--scale-m));
    --size-l: calc(1rem * var(--scale-l));
    --size-xl: calc(1rem * var(--scale-xl));
    --size-xxl: calc(1rem * var(--scale-xxl));
    --size-xxxl: calc(1rem * var(--scale-xxxl));

    --brand-background-color: var(--COLOR-DARK);

    --brand-text-color: var(--COLOR-LIGHT);
    --brand-text-decoration-active: none;
    --brand-text-decoration-hover: underline;
    --brand-text-weight: medium;
    --brand-text-weight-strong: bold;

    --content-background-color: var(--COLOR-LIGHTEST);

    --content-text-color: black;
    --content-text-color-active: var(--COLOR-DARK);
    --content-text-color-hover: var(--content-text-color-active);
    --content-text-font: Arial, Helvetica, sans-serif;
    --content-text-weight-strong: bold;
    --content-text-leading: 1.6;
    --content-text-measure: 65ch;

    --content-flow-space: 1em;

    --content-list-indent: 2rem;
    --content-list-space: .25rem;

    --display-text-leading: 1.2;
    --display-text-font: var(--content-text-font);
    --display-text-variant-strong: small-caps;
    --display-text-color: var(--COLOR-DARK);
    --display-text-weight: medium;
    --display-text-weight-strong: bold;

    --display-flow-space: 1em;

    --exhibit-border-color: var(--COLOR-MEDIUM);
    --exhibit-background-color: var(--COLOR-LIGHT);
    --exhibit-text-color: var(--COLOR-DARK);

    --heading-1-size: var(--size-xxl);
    --heading-2-size: var(--size-xl);
    --heading-3-size: var(--size-l);
  }

  body {
    background-color: var(--content-background-color);
    font-family: var(--content-text-font);
    font-size: var(--size-m);
    line-height: var(--content-text-leading);
  }

  main {
    max-width: var(--content-text-measure);
    margin-inline: auto;
    padding: var(--main-padding, 1rem);
  }

  a:has([data-separator]) {
    display: inline;
  }

  [data-separator] {
    display: inline;
  }

  [data-separator]:not(:first-child)::before {
    content: attr(data-separator);
  }

  blockquote {
    border: 1px solid var(--exhibit-border-color);
    background-color: var(--exhibit-background-color);
    color: var(--exhibit-text-color);
    margin-block: 1rem;
    padding: 1rem;
  }

  :is(blockquote, em),
  :is(blockquote, em) em em,
  :is(blockquote, em) em em em em {
    font-style: italic;
  }

  :is(blockquote, em) em,
  :is(blockquote, em) em em em {
    font-style: normal;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    color: var(--display-text-color);
    font-family: var(--display-text-font-strong);
    font-weight: var(--display-text-weight);
    line-height: var(--display-text-leading);
    margin-block-start: var(--display-flow-space);
  }

  h1 {
    font-size: var(--heading-1-size);
  }

  h2 {
    font-size: var(--heading-2-size);
  }

  h3 {
    font-size: var(--heading-3-size);
  }

  img {
    height: auto;
  }

  :is(ul, ol) {
    padding-left: var(--content-list-indent);
  }

  ul,
  ol,
  li {
    margin-block-start: var(--content-list-space);
  }

  strong {
    font-weight: var(--content-text-weight-strong);
  }
}