@layer components {
  .post {}

  .post-details-list {
    font-size: var(--size-s);
    padding: 0;
    text-transform: capitalize;
    list-style-type: none;
  }

  .post-page-header {}

  .post-summary-title {
    font-variant: var(--display-text-variant-strong);
    font-weight: var(--display-text-weight-strong);
    color: var(--display-text-color);
  }

  .term-list {
    padding: 0;
    list-style-type: none;
  }

  .term-text {
    text-transform: capitalize;
  }
}