@layer components {

  .banner {
    --padding-block: var(--banner-padding-block, 1rem);
    --padding-inline: var(--banner-padding-inline, 1rem);
  }

  .banner * {
    color: var(--color);
  }

  .banner a {
    text-decoration: none;
  }

  .copyright {
    text-align: center;
    color: var(--color);
  }

  .footer {
    --padding-block: .25rem;
  }

  .page-header {
    --background-color: var(--COLOR-LIGHTER);
    --color: var(--COLOR-DARK);
    --margin-inline: auto;
    --max-width: var(--measure);
    --wrapper-padding-block: 0.5rem;
  }

  .page-title {
    --font-size: var(--page-title-size, var(--font-size-3));
  }

  .site-info {
    --background-color: var(--site-info-background-color, var(--COLOR-DARK));
    --color: var(--site-info-text-color, var(--COLOR-LIGHT));

    text-align: var(--site-info-align, center);
  }

  .site-nav-list {
    --separator: ' | ';
  }

  .site-title {
    font-size: var(--site-titl--size, var(--font-size-3));
  }

  .title-font {
    font-variant: var(--title-font-variant, small-caps);
  }
}