@layer components {
  .page-header {
    color: var(--page-header-color, var(--display-text-color));
    margin-inline: auto;
    max-width: var(--content-text-measure);
  }

  .page-title {
    font-weight: var(--display-text-weight-strong);
  }

  .site-info {
    background-color: var(--brand-background-color);
    color: var(--brand-text-color);
    padding: var(--size-m);
    text-align: center;
  }

  .site-title {
    font-face: var(--site-title-font, var(--brand-text-font));
    font-variant: var(--site-title-font-variant, var(--display-text-variant-strong));
    font-size: var(--site-title-size, var(--size-xxxl));
  }
}