@layer components {
  .banner {
    --bg: var(--COLOR-DARK);
    --color: var(--COLOR-LIGHT);
    --padding: 1rem;
  }

  .flow-text> :where(:not(:first-child)) {
    --sp: 1em;

    margin-top: var(--sp);
  }

  .page-title {
    --bg: var(--COLOR-LIGHTER);
    --color: var(--COLOR-DARK);
    --font-size: var(--FONT-SIZE-4);
    --font-variant: small-caps;
    --font-weight: bold;
    --line-height: 1.2;
    --padding: var(--padding-tb) 0;
    --padding-tb: 0.5rem;
  }

  .site-footer {
    --bg: var(--COLOR-DARK);
    --color: var(--COLOR-LIGHT);
    --font-weight: bold;
    --padding: var(--padding-tb);
    --padding-tb: .25rem;
  }

  .site-nav,
  .site-nav-list,
  .site-nav-item {
    display: inline;
  }

  .site-nav-item:is(:not(:first-child))::before {
    content: '|'
  }

  .site-title {
    --font-size: var(--FONT-SIZE-5);
    --font-variant: small-caps;
    --line-height: 1.2;
  }
}