.content a {
  --color: var(--COLOR-DARK);

  color: var(--color);
}

.content a[href]:is(:hover, :focus) {
  text-decoration: underline;
}

.content blockquote {
  --bg: var(--COLOR-LIGHT);
  --border: 1px solid var(--border-color);
  --border-color: var(--COLOR-MEDIUM);
  --padding: 1rem;
  --color: var(--COLOR-DARK);

  border: var(--border);
  background-color: var(--bg);
  padding: var(--padding);
  color: var(--color);
}

.content :is(h1, h2, h3, h4, h5, h6) {
  --margin: 1em 0 -0.5em;
  --color: var(--COLOR-DARK);

  margin: var(--margin);
  font-weight: bold;
  color: var(--color);
}

.content h1 {
  --font-size: var(--FONT-SIZE-3);

  font-size: var(--font-size);
}

.content h2 {
  --font-size: var(--FONT-SIZE-2);

  font-size: var(--font-size);
}

.content h3 {
  --font-size: var(--FONT-SIZE-1);

  font-size: var(--font-size);
}

.content strong {
  font-weight: bold;
}

.content :is(blockquote, em),
.content :is(blockquote, em) em em,
.content :is(blockquote, em) em em em em {
  font-style: italic;
}

.content :is(blockquote, em) em,
.content :is(blockquote, em) em em em {
  font-style: normal;
}

.content :is(p, blockquote, ul, ol) {
  --margin: var(--margin-tb) 0;
  --margin-tb: 1rem;

  margin: var(--margin);
}

.content blockquote :first-child {
  margin-top: 0;
}

.content blockquote :last-child {
  margin-bottom: 0;
}

.content :is(ul, ol) {
  --padding-left: 2rem;

  padding-left: var(--padding-left);
}

.content img {
  height: auto;
}