@layer utilities {
	.boxed {
		--text-align: center;

		border: var(--border);
		background-color: var(--bg);
		padding: var(--padding);
		text-align: var(--text-align);
	}

	.styled-list {
		color: var(--color);
		display: var(--list-display);
		list-style-type: var(--list-style-type);
		padding: var(--list-padding);
	}

	.styled-list> :where(li) {
		display: var(--list-item-display);
		font-variant: var(--list-font-variant);

	}

	.styled-list> :where(li):not(:first-child)::before {
		content: var(--list-item-separator);
	}

	.styled-text {
		color: var(--color);
		font-size: var(--font-size);
		font-weight: var(--font-weight);
		font-variant: var(--font-variant);
		line-height: var(--line-height);
		margin: var(--margin);
	}

	.subtle-link {
		--decoration: none;
		color: var(--color);
	}

	.subtle-link:hover,
	.subtle-link:focus {
		--decoration: underline;
	}
}