@layer utilities {
	.box {
		background-color: var(--background-color);
		border: var(--border);
	}

	.colored-text {
		color: var(--color);
	}

	.display-text {
		font-weight: var(--font-weight, bold);
		line-height: var(--line-height, 1.1);
	}

	.flow is(*, blockquote>:not(:first-child)) {
		margin-block-start: var(--flow-space);
	}

	.inline {
		display: inline;
	}

	.separated:not(:first-child)::before {
		content: var(--separator);
	}

	.styled-list {
		list-style-type: var(--list-style-type);
	}

	.subtle-link:not(:hover, :focus) {
		text-decoration: none;
	}

	.variant-text {
		font-variant: var(--font-variant, none);
		text-transform: var(--text-transform);
	}

	.wrapper {
		margin-block: var(--margin-block, 1rem);
		margin-inline: var(--margin-inline, 1rem);
		padding-block: var(--padding-block, 1rem);
		padding-inline: var(--padding-inline, 1rem);
	}
}