<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default "en-us" }}'>

<head>
  <meta charset='utf-8' />
  <meta viewport='width=device-width' />
  <meta viewport='initial-scale=1' />
  <meta viewport='user-scalable=yes' />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link href='/favicon.ico' rel='icon' />
  <link rel='stylesheet' href='/css/style.css'>
</head>

<body>
  <header class='banner'>
    <p class='site-title'>
      <a class='subtle-link' href='/'>{{ .Site.Title }}</a>
    </p>
    <nav class='site-nav'>
      <ul class='inline'>
        {{ range .Site.Data.nav.link }}
        <li class='inline piped'>
          <a class='subtle-link' href="{{ .url }}">{{ .title }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </header>
  <main>
    <h1 class='page-title'>
      <a class='subtle-link' href='/'>{{ .Title }}</a>
    </h1>
    {{ block "main" . }}{{ end }}
  </main>
  <footer class='site-footer'>
    {{ block "copyright" . }}
    <p role='copyright'>{{ .Site.Copyright }}</p>
    {{ end }}
  </footer>
</body>

</html>