<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default "en-us" }}'>

<head>
  <meta charset='utf-8' />
  <meta viewport='width=device-width' />
  <meta viewport='initial-scale=1' />
  <meta viewport='user-scalable=yes' />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link href='/favicon.ico' rel='icon' />
  <link rel='stylesheet' href='/css/style.css'>
</head>

<body>
  <header class='body-header'>
    <h1 class='body-title'>
      <a class='subtle-link' href='/'>{{ .Site.Title }}</a>
    </h1>
    {{ block "body-subtitle" . }}
    {{ partial "body-subtitle" . }}
    {{ end }}
  </header>
  <nav class='body-info'>
    <ul class='inline'>
      {{ range .Site.Data.nav.link }}
      <li class='inline piped'>
        <a class='subtle-link' href="{{ .url }}">{{ .title }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
  <main>
    {{ block "main" . }} {{ end }}
  </main>
  <footer class='body-info'>
    {{ block "copyright" . }}
    <p role='copyright'>{{ .Site.Copyright }}</p>
    {{ end }}
  </footer>
</body>

</html>