<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default "en-us" }}'>

<head>
  <meta charset='utf-8' />
  <meta viewport='width=device-width' />
  <meta viewport='initial-scale=1' />
  <meta viewport='user-scalable=yes' />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link href='/favicon.ico' rel='icon' />
  {{ $reset := resources.Get "css/reset.css" }}
  {{ $base := resources.Get "css/base.css" }}
  {{ $blocks := resources.Get "css/blocks.css" }}
  {{ $utilities := resources.Get "css/utilities.css" }}
  {{ $theme := slice $reset $base $blocks $utilities | resources.Concat "css/theme.css" }}
  <link rel='stylesheet' href='{{ $theme.Permalink }}'>
  <link rel='stylesheet' href='/css/site.css'>
</head>

<body>
  <header class='site-info'>
    <p class='site-title' href='/'>{{ .Site.Title }}</p>
    <nav>
      <ul class='nav-list'>
        {{ range .Site.Data.nav.link }}
        <li class='nav-item' data-separator='|'>
          <a class='nav-link display-font' href="{{ .url }}">{{ .title }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </header>
  {{ block "main" . }}{{ end }}
  <footer class='site-info'>
    {{ block "copyright" . }}
    <div role='copyright'>
      {{ .Site.Copyright }}
    </div>
    {{ end }}
  </footer>
</body>

</html>