@layer components {
  .page-header {
    color: var(--display-text-color);
    max-width: var(--content-text-measure);
  }

  .page-title {
    font-weight: var(--display-text-weight-strong);
    font-variant: var(--display-text-variant-strong);
  }

  .post-details-list {
    font-size: var(--size-s);
    padding: 0;
    text-transform: capitalize;
    list-style-type: none;
  }

  .post-summary-title {
    font-variant: var(--display-text-variant-strong);
    font-weight: var(--display-text-weight-strong);
    color: var(--display-text-color);
  }

  .site-info {
    background-color: var(--banner-background-color);
    color: var(--banner-text-color);
    padding: var(--size-m);
    text-align: center;
  }

  .site-title {
    font-face: var(--display-text-font);
    font-variant: var(--display-text-variant-strong);
    font-size: var(--size-xxxl);
  }

  .term-list {
    padding: 0;
    list-style-type: none;
  }

  .term-text {
    text-transform: capitalize;
  }
}