@layer utilities {
	.measured {
		max-width: var(--content-text-measure);
	}

	.content {
		margin-block: var(--content-flow-spacing);
	}

	.flow>*+* {
		margin-block-start: var(--content-flow-spacing);
	}
}